# 👋 “Hey” from the Praxis team
# use this config file to control how npm behaves: https://docs.npmjs.com/misc/config

# set registry to Target's private npm repository: Artifactory
registry="https://registry.npmjs.org/"

# always save the exact version of a new dependency
# read more at https://praxis.target.com/guides/dependency-management
save-exact=true

legacy-peer-deps = true